DNAClient/Connected Services/GxService/SimpleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISimpleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IReportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataAccessLayer" />
      <xsd:import schemaLocation="http://localhost:8085/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_RequestReplyOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperation" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_RequestReplyOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperationResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_RequestReplyOperationV1_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperationV1" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_RequestReplyOperationV1_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperationV1Response" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_OneWayOperationDemo_InputMessage">
    <wsdl:part name="parameters" element="tns:OneWayOperationDemo" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerList" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_ProcessReport_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessReport" />
  </wsdl:message>
  <wsdl:message name="IReportService_ProcessReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessReportResponse" />
  </wsdl:message>
  <wsdl:message name="IRestfulDNA_RequestReplyOperation_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperation_Rest" />
  </wsdl:message>
  <wsdl:message name="IRestfulDNA_RequestReplyOperation_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperation_RestResponse" />
  </wsdl:message>
  <wsdl:message name="IRestfulDNA_RequestReplyOperation_RestV1_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperation_RestV1" />
  </wsdl:message>
  <wsdl:message name="IRestfulDNA_RequestReplyOperation_RestV1_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestReplyOperation_RestV1Response" />
  </wsdl:message>
  <wsdl:message name="IRestfulDNA_GetCustomerList_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerList_Rest" />
  </wsdl:message>
  <wsdl:message name="IRestfulDNA_GetCustomerList_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerList_RestResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/DoWork" message="tns:ISimpleService_DoWork_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/GetMessage" message="tns:ISimpleService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/GetMessageResponse" message="tns:ISimpleService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestReplyOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/RequestReplyOperation" message="tns:ISimpleService_RequestReplyOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/RequestReplyOperationResponse" message="tns:ISimpleService_RequestReplyOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestReplyOperationV1">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/RequestReplyOperationV1" message="tns:ISimpleService_RequestReplyOperationV1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/RequestReplyOperationV1Response" message="tns:ISimpleService_RequestReplyOperationV1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OneWayOperationDemo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/OneWayOperationDemo" message="tns:ISimpleService_OneWayOperationDemo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/GetCustomerList" message="tns:ISimpleService_GetCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/GetCustomerListResponse" message="tns:ISimpleService_GetCustomerList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="ProcessReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/ProcessReport" message="tns:IReportService_ProcessReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/ProcessReportResponse" message="tns:IReportService_ProcessReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRestfulDNA">
    <wsdl:operation name="RequestReplyOperation_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestfulDNA/RequestReplyOperation_Rest" message="tns:IRestfulDNA_RequestReplyOperation_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestfulDNA/RequestReplyOperation_RestResponse" message="tns:IRestfulDNA_RequestReplyOperation_Rest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestReplyOperation_RestV1">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestfulDNA/RequestReplyOperation_RestV1" message="tns:IRestfulDNA_RequestReplyOperation_RestV1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestfulDNA/RequestReplyOperation_RestV1Response" message="tns:IRestfulDNA_RequestReplyOperation_RestV1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestfulDNA/GetCustomerList_Rest" message="tns:IRestfulDNA_GetCustomerList_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestfulDNA/GetCustomerList_RestResponse" message="tns:IRestfulDNA_GetCustomerList_Rest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISimpleService" type="tns:ISimpleService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISimpleService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestReplyOperation">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/RequestReplyOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestReplyOperationV1">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/RequestReplyOperationV1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OneWayOperationDemo">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/OneWayOperationDemo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerList">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/GetCustomerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IReportService" type="tns:IReportService">
    <wsp:PolicyReference URI="#NetTcpBinding_IReportService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ProcessReport">
      <soap12:operation soapAction="http://tempuri.org/IReportService/ProcessReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port name="NetTcpBinding_ISimpleService" binding="tns:NetTcpBinding_ISimpleService">
      <soap12:address location="net.tcp://localhost:8095/GxService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/GxService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>GSWX4002360@galaxy.lan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IReportService" binding="tns:NetTcpBinding_IReportService">
      <soap12:address location="net.tcp://localhost:8095/GxReportService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/GxReportService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>GSWX4002360@galaxy.lan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>